
.ulClass{
    text-align: left;
}




.boardName { 
    grid-area: header; 
    font-weight: 700;
    font-size: 30px;
}

.userListgrid { grid-area: menu; 
    font-size: 17px;
}

.mainBoardGrid { 
    grid-area: main; 
    font-size: 17px;
}

.chatBoxgrid { 
    grid-area: right;
    font-size: 20px;
    font-size: 17px;
}

.p{
    text-align: left;
    font-size: 17px;
    
}

.highScore { 
    grid-area: footer; 
    
    
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
  /* https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 */
  background-image: url(https://images.pexels.com/photos/713664/pexels-photo-713664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); 
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.grid-container > div {
  border-style: dotted;
  border-radius: 5px;
  border-width: 1px;
  font-family: 'Lucida Handwriting', cursive;
  text-align: center;
  padding: 45px 0;
  
}